daily_weather_automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f9d8190f-d1df-4900-96c8-7c815a42fb3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "San Diego"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "fd3e243393b6d3340440c325aa8fe8a6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "eb7befaf-8adb-4791-a9ff-5f7d46f8114e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get data from the previous HTTP Request node...\nconst data = items[0].json;\n\n// Extract values...\nconst city = data.name;\nconst temp = data.main.temp;\nconst humidity = data.main.humidity;\nconst wind = data.wind.speed;\nconst windKmHr = (wind * 3.6).toFixed(1); // Convert m/s to km/hr for the specific format.\nconst condition = data.weather[0].description.toLowerCase();\nconst mainCondition = data.weather[0].main.toLowerCase();\n\n// Apply the rules for the alerts.\nlet alertType = \"none\";\nlet alertMessage = \"None\";\n\n// Rule: Precipitation (Rain, Snow, Drizzle, Storm, Thunder)\nconst precipRegex = /rain|snow|drizzle|storm|thunder/;\n\nif (precipRegex.test(condition) || precipRegex.test(mainCondition)) {\n  alertType = \"precipitation alert\";\n  alertMessage = \"Precipitation Expected Today\";\n} \n// Rule: Heat (> 32C)\nelse if (temp > 32) {\n  alertType = \"heat alert\";\n  alertMessage = \"Heat Alert: High Temperatures Expected\";\n} \n// Rule: Frost (< 0C)\nelse if (temp < 0) {\n  alertType = \"frost alert\";\n  alertMessage = \"Frost Alert: Freezing Temperatures Expected\";\n}\n\n// Build the formatted summary.\n\nconst summary = `Daily Weather - ${city}\n- Temp: ${temp} C\n- Humidity ${humidity}%\n- Wind: ${windKmHr} km/hr\n\nAlert: ${alertMessage}`;\n\n// 5. Output the data for Supabase and Email\nreturn {\n  json: {\n    city: city,\n    temperature: temp,\n    temperature_unit: \"C\",\n    condition: condition,\n    humidity: humidity,\n    wind_speed: parseFloat(windKmHr), // Saving the converted speed.\n    alert_type: alertType,\n    summary: summary,\n    raw_response: data,\n    run_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3b740059-ebfa-479f-92bf-cdc131c29ca1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "weather_logs",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "24b06e63-bf14-48e1-aab5-16c0a0e87ddb",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "VmHqJmvCVdAjE5x6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "asurap1426@gmail.com",
        "subject": "=Daily Weather for {{ $json.city }} - {{ $today.format('yyyy-MM-dd') }}",
        "emailType": "text",
        "message": "={{ $json.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        0
      ],
      "id": "66653ef8-18e6-4a0c-a3a2-c89e10377619",
      "name": "Send a message",
      "webhookId": "d1206e70-adcb-463f-a5e0-f1b9a6b46405",
      "credentials": {
        "gmailOAuth2": {
          "id": "yuSLVP2C0WXz0b7B",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-17T18:10:02.544-08:00",
          "Readable date": "December 17th 2025, 6:10:02 pm",
          "Readable time": "6:10:02 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "17",
          "Hour": "18",
          "Minute": "10",
          "Second": "02",
          "Timezone": "America/Los_Angeles (UTC-08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8bfd86e-b528-4c9b-83e1-9f50180f6301",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dfbeb3e682c78651261381bce7f5091c40eb21cfc7ef436e4e99067718de45a"
  },
  "id": "7UfPd2z0Au7Ck9tM",
  "tags": []
}